# EAS Configuration
EXPO_CLI=bun
EAS_PROJECT_ID=your-project-id
EAS_SERVICE_ACCOUNT_KEY_PATH=./service-account-key.json

# Android
ANDROID_KEYSTORE_PASSWORD=your-password
ANDROID_KEY_ALIAS=your-alias

# iOS
APPLE_ID=your@apple.com
TEAM_ID=YOUR_TEAM_ID